<section>
  <header>
    <h2>Osallistujien kertomuksia</h2>
    <h3>Mitä muut ovat tuumanneet kokeiltuaan</h3>
  </header>
  <ul class="quote-list">
    <li>
      <img src="{{ site.domain }}/kuvat/paula.jpg" alt="Paula, 3.luokkalainen" />
      <p>Paula, 3. luokkalainen</p>
      <span>"Se oli vaan ohjelmointia, ei mitään ihmeellistä."</span>
    </li>
    <li>
      <img src="{{ site.domain }}/kuvat/peppi.jpg" alt="Peppi, 5.luokkalainen" />
      <p>Peppi, 5. luokkalainen</p>
      <span>"Olisi kivaa, jos tällaista olisi kouluaineena."</span>
    </li>
    <li>
      <img src="{{ site.domain }}/kuvat/mikael.jpg" alt="Mikael, lukiolainen" />
      <p>Mikael, lukiolainen</p>
      <span>"Paras matikkapeli on se, kun ohjelmoi sen itse!"</span>
    </li>
  </ul>
</section>