<section>
  <header>
    <h2>Osallistujien kertomuksia</h2>
    <h3>Mitä muut ovat tuumanneet kokeiltuaan</h3>
  </header>
  <ul class="quote-list">
    <li>
      <img src="images/pic06.jpg" alt="" />
      <p>Anna, kieltenope</p>
      <span>"Oon ihan fiiliksissä ohjelmoinnista! Miten oon voinu elää ilman?"</span>
    </li>
    <li>
      <img src="images/pic07.jpg" alt="" />
      <p>Lasse, lukiolainen</p>
      <span>"Vasta nyt tajusin, että voin tehdä ite omia pelejä vaikka laskimelle!"</span>
    </li>
    <li>
      <img src="images/pic08.jpg" alt="" />
      <p>Päivi, peruskoululainen</p>
      <span>"Oon saanut uusia näkökulmia, aiemmin tietotekniikka oli mulle vaan FB ja Insta."</span>
    </li>
  </ul>
</section>