<div class="row">
  <div class="6u">
  
    <!-- Banner Copy -->
      <p>
        Haluatko oppia supertaitoja, joiden avulla voit helpottaa elämääsi ja muuttaa maailmaa?
      </p>
      <a href="/mika-on-koodaustunti/" class="button-big">Check this out, baby!</a>
  </div>
  <div class="6u">
    
    <!-- Banner Image -->
      <a href="http://learn.code.org/hoc/1" target="_blank" class="bordered-feature-image"><img src="/kuvat/banner_code.org-video-snapshot.png" alt="Koodaamisen aloittaminen ei ole vaikeaa!" width="560" height="188" /></a>
  
  </div>
</div>