<section>
  <header>
    <h2>Osallistujien kertomuksia</h2>
    <h3>Mitä muut ovat tuumanneet kokeiltuaan</h3>
  </header>
  <ul class="quote-list">
    <li>
      <img src="kuvat/pic06.jpg" alt="" />
      <p>Anna, kieltenope</p>
      <span>"Oon ihan fiiliksissä ohjelmoinnista! Miten oon voinu elää ilman?"</span>
    </li>
    <li>
      <img src="kuvat/pic07.jpg" alt="Mikael Vuori" />
      <p>Mikael Vuori, lukiolainen</p>
      <span>"Paras matikkapeli on se, kun ohjelmoi sen itse!"</span>
    </li>
    <li>
      <img src="kuvat/pic08.jpg" alt="" />
      <p>Päivi, peruskoululainen</p>
      <span>"Oon saanut uusia näkökulmia, aiemmin tietotekniikka oli mulle vaan FB ja Insta."</span>
    </li>
  </ul>
</section>