<section>
  <header>
    <h2>Mikä on Koodaustunti?</h2>
    <h3>Lyhyesti ja pähkinänkuoressa</h3>
  </header>
  <a href="#" class="feature-image"><img src="kuvat/promo_learn.code.org_angry-birds.png" alt="Angry Birds ja ohjemointi :)" /></a>
  <p>
    Koodaustunti on yhden tunnin johdatus tietojenkäsittelytieteeseen, joka toteutetaan
    {{ site.viikko }} haluamanasi ajankohtana. Koodaustunnin  tarkoituksena on tutustuttaa
    "koodaamiseen" ja tehdä sitä arkipäiväiseksi.
  </p>
  <p><a href="/mika-on-koodaustunti/">Lue lisää...</a></p>
</section>