<div class="row">
  <div class="6u">
  
    <!-- Banner Copy -->
      <p>
        Haluatko oppia supertaitoja, joiden avulla voit helpottaa elämääsi ja muuttaa maailmaa?
      </p>
      <a href="//www.youtube.com/embed/FC5FbmsH4fw?autoplay=1" title="Koodaustunnin promovideo" class="button-big colorbox-iframe" onclick="_gaq.push(['_trackEvent', 'Videot', 'Katselu', 'Promovideo, etusivu, nappi']);">Promovideo, jee!</a>
      <a href="http://learn.code.org/hoc/1" class="button-big" target="_blank" onclick="_gaq.push(['_trackEvent', 'Ohjelmointi', 'Aloitus', 'Angry Birds goes HOC, etusivu']);">Mä aloitan heti :)</a>

  </div>
  <div class="6u">

      <a href="//www.youtube.com/embed/FC5FbmsH4fw?autoplay=1" title="Koodaustunnin promovideo" class="bordered-feature-image colorbox-iframe" onclick="_gaq.push(['_trackEvent', 'Videot', 'Katselu', 'Promovideo, etusivu, kuva']);"><img src="/kuvat/banner_code.org-video-snapshot.png" alt="Koodaamisen aloittaminen ei ole vaikeaa!" width="560" height="188" /></a>
  
  </div>
</div>