      <div id="footer-wrapper">
        <footer id="footer" class="container">
          <div class="row">
            <div class="4u">
              <!-- Blurb -->
                <section>
                  <h2>Koodaustunti pähkinänkuoressa</h2>
                  <p>
                    Koodaustunti on tavoite innostaa suomalaisia kokeilemaan ohjelmoinnin perusteita
                    kansainvälisen tietojenkäsittelytieteen viikon aikana 9.-15.12.2013.
                  </p>
                </section>
            </div>

            <div class="4u">
              <!-- Links -->
                <section>
                  <h2>Yhteistyökumppanit</h2>
                  <div>
                    <div class="row">
                      <div class="12u">
                        <ul class="link-list last-child">
                          <li><a href="http://linkki.cs.helsinki.fi">Linkki - Helsingin yliopiston tietojenkäsittelyn resurssikeskus</a></li>
                          <li><a href="http://opetus.tv">Opetus.tv</a></li>
                          <li><a href="http://www.kuumapop.fi">Kuumapop</a></li>
                          <li><a href="http://www.mielikuvituskoulu.fi">Mielikuvituskoulu</a></li>
                        </ul>
                      </div>
                      <!--div class="6u">
                        <ul class="link-list last-child">
                          <li><a href="#">Neque amet dapibus</a></li>
                          <li><a href="#">Sed mattis quis rutrum</a></li>
                          <li><a href="#">Accumsan suspendisse</a></li>
                          <li><a href="#">Eu varius vitae magna</a></li>
                        </ul>
                      </div-->
                    </div>
                  </div>
                </section>
            </div>

            <div class="4u">
              <section>
                <h2>Yhteystiedot</h2>
                  <div>
                    <div class="row">
                      <div class="6u">
                        <ul class="link-list last-child">
                          <li><a href="#">Neque amet dapibusasd flajsdf ljasd fljasl dfj</a></li>
                          <li><a href="#">Sed mattis quis rutrum</a></li>
                          <li><a href="#">Accumsan suspendisse</a></li>
                          <li><a href="#">Eu varius vitae magna</a></li>
                        </ul>
                      </div>
                      <div class="6u">
                        <ul class="link-list last-child">
                          <li><a href="#">Neque amet dapibus</a></li>
                          <li><a href="#">Sed mattis quis rutrum</a></li>
                          <li><a href="#">Accumsan suspendisse</a></li>
                          <li><a href="#">Eu varius vitae magna</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
              </section>
            </div>

          </div>
        </footer>
      </div>

    <!-- Copyright -->
      <div id="copyright">
        &copy; Untitled. All rights reserved. | Design: <a href="http://html5up.net">HTML5 UP</a> | Images: <a href="http://fotogrph.com">fotogrph</a>
      </div>