      <div id="footer-wrapper">
        <footer id="footer" class="container">
          <div class="row">
            <div class="4u">
              <!-- Blurb -->
                <section>
                  <h2>Koodaustunnin taustaa</h2>
                  <p>
                    Koodaustunti (<a href="http://hourofcode.org">Hour of Code</a>) kansainvälisen tietojenkäsittelyviikon tapahtuma,
                    jonka tavoitteena on innostaa suuri määrä ihmisiä kokeilemaan ohjelmoinnin perusteita yhden tunnin ajan jossain
                    vaiheessa 9.-15.12.2013 viikkoa.
                  </p>
                </section>
            </div>

            <div class="4u">
              <!-- Links -->
                <section>
                  <h2>Yhteistyökumppanit</h2>
                  <div>
                    <div class="row">
                      <div class="6u">
                        <ul class="link-list">
                          <li><a href="http://innolukio.fi">Innolukio</a></li>
                          <li><a href="http://www.kuumapop.fi">Kuumapop</a></li>
                          <li><a href="http://linkki.cs.helsinki.fi">Linkki (HY)</a></li>
                          <li><a href="http://www.mielikuvituskoulu.fi">Mielikuvituskoulu</a></li>
                          <!--li><a href="http://startupsauna.com">Startup Sauna</a></li-->
                        </ul>
                      </div>
                      <div class="6u">
                        <ul class="link-list last-child">
                          <li><a href="http://www.opinsys.fi">Opinsys</a></li>
                          <li><a href="http://opetus.tv">Opetus.tv</a></li>
                          <li><a href="http://viope.com">Viope Solutions</a></li>
                        </ul>
                      </div>
                      <!--div class="4u">
                        <ul class="link-list">
                          <li><a href="http://www.rovio.com">Rovio</a></li>
                          <li><a href="http://www.supercell.net">Supercell</a></li>
                          <li><a href="http://www.remedygames.com">Remedy</a></li>
                          <li><a href="http://www.neogames.fi">Neogames</a></li>
                        </ul>
                      </div-->
                    </div>
                  </div>
                </section>
            </div>

            <div class="4u">
              <section>
                <h2>Yhteystiedot</h2>
                  <div>
                    <div class="row">
                      <div class="6u">
                        <ul class="link-list last-child">
                          <li><a href="#"><i class="fa fa-facebook-square"></i> Facebook</a></li>
                          <li><a href="#"><i class="fa fa-twitter"></i> Twitter</a></li>
                          <li><a href="https://github.com/jannecederberg/koodaustunti.fi/"><i class="fa fa-github"></i> GitHub</a></li>
                        </ul>
                      </div>
                      <div class="6u">
                        <ul class="link-list last-child">
                          <li><a href="#">Neque amet dapibus</a></li>
                          <li><a href="#">Sed mattis quis rutrum</a></li>
                          <li><a href="#">Accumsan suspendisse</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
              </section>
            </div>

          </div>
        </footer>
      </div>

    <!-- Copyright -->
      <div id="copyright">
        &copy; Koodaustunti. CC BY-SA. | Layout: <a href="http://html5up.net">HTML5 UP</a> | Kuvat: <a href="http://fotogrph.com">fotogrph</a>
      </div>