<h1><a href="{{ site.root_url }}/" id="logo"><span>{{ site.name }}</span></a></h1>
{% if site.viikko %}<h2>&mdash; {{ site.viikko }} &mdash;</h2>{% endif %}
<!--<h2>Viikolla 9.-15.12.2013: 8415 uniikkia kävijää</h2>-->

<nav id="nav">
  <!--a href="index.html">Etusivu</a-->
  <a href="{{ site.root_url }}/mika-on-koodaustunti/">Mikä?</a>
  <a href="{{ site.root_url }}/videot/">Esittelyvideot</a>
  <a href="{{ site.root_url }}/miten-aloitan-koodaamaan/">Miten aloitan?</a>
  <a href="{{ site.root_url }}/pajat/">Pajat</a>
  <a href="{{ site.root_url }}/ilmoittaudu-mukaan/">Ilmoittaudu!</a>
  <a href="{{ site.root_url }}/kumppanit/">Kumppanit</a>
  <a href="{{ site.root_url }}/blogi/">Blogi</a>
</nav>
