<h2>Ilmoittautuneita</h2>
<p>
    Suomessa tavoitteena on saada {{ site.osallistujatavoite }} koululaista/opiskelijaa kokeilemaan ohjelmointia tunnin ajan{% if site.viikko %} {{ site.viikko }} välillä{% endif %}.
</p>
<p>
    Tällä hetkellä ilmoittautuneita on <span id="opettajia"></span> opettajaa ja <span id="opiskelijoita"></span> opiskelijaa!
</p>
<p id="osallistuja-status"></p>

{% if page.url != '/ilmoittaudu-mukaan/' %}
<p>
    Opettaja, <a href="/ilmoittaudu-mukaan/">ilmoita oppilasryhmäsi mukaan!</a>
</p>
{% endif %}