<!-- HOUR OF CODE -VIIKON SISÄLTÖ
<h2>Ilmoittautuneita</h2>
<p>
    Suomessa tavoitteena on saada {{ site.osallistujatavoite }} koululaista/opiskelijaa kokeilemaan ohjelmointia tunnin ajan{% if site.viikko %} {{ site.viikko }} välillä{% endif %}.
</p>
<p>
    Tällä hetkellä ilmoittautuneita on <span id="opettajia"></span> opettajaa ja <span id="opiskelijoita"></span> opiskelijaa!
</p>
<p id="osallistuja-status"></p>

{% if page.url != '/ilmoittaudu-mukaan/' %}
<p>
    Opettaja, <a href="/ilmoittaudu-mukaan/">ilmoita oppilasryhmäsi mukaan!</a>
</p>
{% endif %}
-->

<h2>Ohjelmoinnista mediassa</h2>
<p>
    Ohjelmoinnin opetuksesta peruskoulussa on ollut paljon puhetta mediassa viime aikoina. Tässä kokoelma aiheesta kirjoitettua:
</p>
<ul>
    <li><a href="http://content.opettaja.fi/epaper/20140207/index.html#4">Koodaustunti.fi Opettaja-lehdessä, sivu 4</a> (6.2.2014)</li>
    <li><a href="http://www.hs.fi/kotimaa/Koodauksesta+tuli+villitys/a1390288741997">Koodauksesta tuli villitys</a> (22.1.14)</li>
    <li><a href="http://www.hs.fi/kotimaa/a1390279526604">Ohjelmointi peruskoulun opetussuunnitelmaan</a> (21.1.14)</li>
    <li><a href="http://www.tietoviikko.fi/kaikki_uutiset/ministeri+hslle+ohjelmoinnista+ei+tule+itsenaista+oppiainetta/a961489">Ohjelmoinnista ei tule itsenäistä oppiainetta</a> (21.1.14)</li>
    <li><a href="http://www.hs.fi/mielipide/a1387351900045">Ohjelmointia voi verrata luku- ja kirjoitustaitoon</a> (19.12.13)</li>
    <li><a href="http://blogit.iltalehti.fi/sanna-lauslahti/2013/10/03/ohjelmointi-yhdeksi-lasten-tulevaisuuden-evaaksi/">Ohjelmointi lasten tulevaisuuden evääksi</a> (3.10.13)</li>
    <li></li>
    <li></li>
    <li></li>
</ul>