{% include head.html %}

	<body class="subpage">

		<!-- Header -->
			<div id="header-wrapper">
				<header id="header" class="container">
					<div class="row">
						<div class="12u">

							<!-- Logo ja valikko -->
								{% include logo-ja-valikko.html %}

						</div>
					</div>
				</header>
			</div>

		<!-- Content -->
			<div id="content-wrapper">
				<div id="content">
					<div class="container">
						<div class="row">
							<div class="8u">
								
								<!-- Main Content -->
									<section>
										<!--header>
											<!--h2>{{ page.title }}</h2-->
											<!--h3>A generic one column layout</h3-->
										<!--/header-->
										
										{{ content }}
									</section>

							</div>
							<div class="4u">
								
								<!-- Sidebar -->
								<section>
									<header>
										<h2>Muut artikkelit</h2>
									</header>
									<ul class="link-list">
										{% for artikkeli in site.posts %}
    										<li><time datetime="{{ artikkeli.date | date:"%Y-%m-%d" }}">{{ artikkeli.date | date:"%d.%m.%Y" }}</time> <a href="{{ artikkeli.url }}">{{ artikkeli.title }}</a></li>
										{% endfor %}
									</ul>
								</section>

							</div>
						</div>
					</div>
				</div>
			</div>

		<!-- Footer -->
			{% include footer.html %}

	</body>
</html>