---
layout: base
---

<div class="8u">
	<section>
		{{ content }}
	</section>
</div>

<div class="4u">
	
	<!-- Sidebar -->
	<section>
		<header>
			<h2>Ilmoittautuneita</h2>
			<p>
				Tällä hetkellä ilmoittautuneita on <span id="opettajia"></span> opettajaa ja <span id="opiskelijoita"></span> opiskelijaa!
			</p>
			<p>
				Vielä tarvitaan <span id="opiskelijoita-puuttuu"></span> opiskelijaa mukaan. Oletko sinä yksi heistä?
			</p>
		</header>
	</section>
	<script>

	var gsheet = gsheet || {};
	gsheet.spreadsheet_url = 'http://spreadsheets.google.com/feeds/list/0Ahxw_PAkk4mkdDNESF9SbU8zZ2lIbWdzUHZwTFJyTWc/2/public/basic?alt=json';
	var tavoite = {{ site.osallistujatavoite }};

	gsheet.parse_value = function(str) {
		return str.substring(str.indexOf(':')+2);
	};

	$(document).ready( function() {
	  var $xhr = $.ajax(gsheet.spreadsheet_url)
	  	.done( function() {
			var json = JSON.parse($xhr.responseText);
			var opettajia = gsheet.parse_value(json.feed.entry[0].content.$t);
			var opiskelijoita = gsheet.parse_value(json.feed.entry[1].content.$t);
			$('#opettajia').text(opettajia);
			$('#opiskelijoita').text(opiskelijoita);
			var puuttuu = tavoite-parseInt(opiskelijoita);
			$('#opiskelijoita-puuttuu').text(puuttuu.toString());
	  	});
	});

	</script>
</div>